{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_thinkblue/full_header

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html"
    }

    Page header.
}}
{{! MODIFICATION:
    * Changed the order of the settingsmenu item.
}}

<header id="page-header" class="row">
    {{#showsrm}}
    <div class="srm-top-team-div">
        <div class="row">
            <div class="col-lg-3">
                <div class="user_detl_left">
                    <div class="user_detl_img">
                        <div class="user_img">
                                <img src="{{{avatar}}}" class="img-thumbnail img-circle thumb96 ">
                        </div>
                    </div>
                    <div class="user_detl_cont">
                        <div class="user_detl_cont_inn">
                            <h4>{{{fullnameuser}}}</h4>
                            <!--<p>Dev</p>-->
                        </div> 
                    </div>
                    <!--<div class="user_detl_cont">
                        <div class="user_detl_cont_inn">
                            <label>Select Theme</label>
                            <select class="theme_select_cls" id="theme_select_id">
                                <option value="https://leeloolxp.com/moodle-plugins-testing/admin/user/user_details/382?theme=light">Light</option>
                                <option value="https://leeloolxp.com/moodle-plugins-testing/admin/user/user_details/382?theme=dark" selected="selected">Dark</option>
                            </select>
                        </div> 
                    </div>-->
                </div>
            </div>
            <div class="col-lg-9">

                <div class="srm-top-right-head">
                    <div class="col-srm">
                        <div class="srm-top-left-div srm-top-left-div-first">
                            <span class="round-span">11</span>
                            <span class="box-span">2078<small>/3000</small></span>
                            <!-- <span class="box-icn-span">
                                <img src="https://leeloolxp.com/moodle-plugins-testing/uploads/logo_32.png">
                            </span> -->
                        </div>
                    </div>

                    <div class="col-srm">
                        <div class="srm-top-left-div srm-top-left-div-second">
                            <span class="round-span">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                            <span class="box-span">{{{coins}}}</span>
                            <span class="box-icn-span">
                                <img src="{{{coinimg}}}">
                            </span>
                        </div>
                    </div>

                    <div class="col-srm">
                        <div class="srm-top-left-div srm-top-left-div-third">
                            <span class="round-span">
                                <i class="fa fa-plus" aria-hidden="true"></i>
                            </span>
                            <span class="box-span">{{{diamonds}}}</span>
                            <span class="box-icn-span">
                                <img src="{{{diamondimg}}}">
                            </span>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{/showsrm}}

    <div class="col-12 pt-3 pb-3">
        <div class="card {{^contextheader}}border-0 bg-transparent{{/contextheader}}">
            <div class="card-body {{^contextheader}}p-2{{/contextheader}}">
                <div class="d-flex">
                    {{#contextheader}}
                    <div class="mr-auto">
                        {{{contextheader}}}
                    </div>
                    {{/contextheader}}
                </div>
                <div class="d-flex flex-wrap">
                    {{#hasnavbar}}
                    <div id="page-navbar">
                        {{{navbar}}}
                    </div>
                    {{/hasnavbar}}
                    <div class="ml-auto d-flex">
                        {{{pageheadingbutton}}}
                    </div>
                    {{#settingsmenu}}
                        <div class="context-header-settings-menu ml-4">
                            {{{settingsmenu}}}
                        </div>
                    {{/settingsmenu}}
                    <div id="course-header">
                        {{{courseheader}}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
