{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
{{!
    @template theme_thinkblue/game_header

    This template renders the header.

    Example context (json):
    {
        "contextheader": "context_header_html",
        "settingsmenu": "settings_html",
        "hasnavbar": false,
        "navbar": "navbar_if_available",
        "courseheader": "course_header_html"
    }

    Page header.
}}
{{! MODIFICATION:
    * Changed the order of the settingsmenu item.
}}

<div class="srm-top-head-main {{#boardheader}}boardheader{{/boardheader}}">
    <div class="srm-top-team-div">
        <div class="row">
            <div class="col-lg-5">
                <div class="srm-top-left">
                    <div class="pl-logo">
                        <a href="{{{ config.wwwroot }}}" class="navbar-brand has-logo d-none d-sm-inline ">
                            <span class="logo d-none d-sm-inline">
                                <img src="{{get_logo_url}}" alt="{{sitename}}">
                            </span>
                        </a>
                    </div>
                    {{#showsrm}}
                    <div class="srm-top-left-menu">
                        <ul>
                            <li><a class="l_dashlinks l_arena_link {{#arenaactive}}active{{/arenaactive}} " href="#">Arena</a></li>
                            <li><a class="l_dashlinks l_hero_link {{#heroactive}}active{{/heroactive}}" href="#">Hero</a></li>
                            <li><a class="l_dashlinks l_skills_link {{#skillsactive}}active{{/skillsactive}}" href="#">Skills</a></li>
                            <li><a class="l_dashlinks l_dashboard_link {{#dashactive}}active{{/dashactive}}" href="#">Dashboard</a></li>
                        </ul>
                    </div>
                    {{/showsrm}}
                </div>
            </div>
            <div class="col-lg-2">
                {{#showsrm}}
                <div class="btn-srm-play-middle">
                    <div class="btn-srm-play">
                        <button type="button" class="btn" data-toggle="modal" data-target="#letsgo">Play <!--{{letsgotxt}}--> </button>
                    </div>
                </div>
                {{/showsrm}}
            </div>
            <div class="col-lg-5">
                <div class="srm-top-right">
                    <div class="user_detl_left">
                        <div class="user_detl_img">
                            <div class="user_img">
                                <img src="{{{avatar}}}" class="img-thumbnail img-circle thumb96 ">
                            </div>
                        </div>
                        <div class="user_detl_cont">
                            <div class="user_detl_cont_inn">
                                <h4>{{{fullnameuser}}}</h4>
                                <p>{{{userteam}}}</p>
                            </div>
                        </div>
                    </div>
                    {{#showsrm}}
                    <div class="srm-top-right-head">
                        <div class="col-srm">
                            <div class="srm-top-left-div srm-top-left-div-third">
                                <span class="round-span">
                                    <img src="https://leeloolxp.com/leeloo_assets/assets/img/1633644604-Jadea.png">
                                </span>
                                <span class="box-span">{{{points}}}</span>
                                <span class="box-icn-span">
                                </span>
                            </div>
                        </div>
                        {{{currencyhtml}}}
                        <div class="col-srm">
                            <div class="progress-pie-chart cool-off-div" data-percent="{{{next_level_percent}}}" data-toggle="tooltip" data-placement="top" data-original-title="{{{next_level_percent}}}%">
                                <div class="ppc-progress">
                                    <div class="ppc-progress-fill"></div>
                                    <div class="ppc-progress-fill2"></div>
                                </div>
                                <div class="srm-top-right-pro">
                                    <span class="srm-right-pro" data-progress="{{{next_level_percent}}}%">{{{current_level}}}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/showsrm}}
                </div>
            </div>
        </div>
    </div>
    <div class="head-mn-btn">
        <button class="btn"><i class="fa fa-ellipsis-v"></i></button>
    </div>
</div>

{{#showsrm}}
<div class="modal fade" id="letsgo" tabindex="-1" role="dialog" aria-labelledby="letsgo" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">{{letsgotxt}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="enrolled_main_items">
                    <ul>
                    {{#enrolledcourseslist}}
                        <li>

                        <div class="enrolled_left">
                            <div class="enrolled_left_img">
                                <a href="{{url}}">
                                    <img width="50" src="{{image}}"/>
                                    <h2>{{fullname}}</h2>
                                </a>
                            </div>
                        </div>


                        {{#enrolledcoursears}}
                        <div class="enrolled_right">
                            <h3>{{activitysectionname}}</h3>
                            <ul>
                                {{#activities}}
                                <li>
                                    <a href="{{activityurl}}"><span>{{activityname}}</span> <span><img width="50" src="{{activityiconurl}}"/></span></a>
                                </li>
                                {{/activities}}

                            </ul>
                        </div>
                        {{/enrolledcoursears}}

                        </li>
                    {{/enrolledcourseslist}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{/showsrm}}

{{#showrewardspop}}
<div class="alchemy-wheel-modal modal fade show" id="rewardspop" tabindex="-1" role="dialog" aria-labelledby="rewardspop" aria-modal="true" style="display: block;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-gam-car">
                <div class="gam-car-title">
                <span>Great job!</span>
                </div>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body-gam-car">
                <div class="great-popup">
                    <ul>
                    {{#rewardsdata}}
                        <li>
                            <div class="great-item {{class}}">
                                <div class="great-item-img"><img src="{{icon}}" alt=""></div>
                                <div class="great-item-txt">{{text}}</div>
                            </div>
                        </li>
                    {{/rewardsdata}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{/showrewardspop}}
{{#showrewardsnoti}}
<div class="modal fade show" id="rewardsnoti" tabindex="-1" role="dialog" aria-labelledby="rewardsnoti" aria-modal="true" style="display: block;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header-gam-car">
                <div class="gam-car-title">
                <span>Great job!</span>
                </div>
                <button type="button" class="close" data-dismiss="modal">×</button>
            </div>
            <div class="modal-body-gam-car">
                <div class="great-noti">
                    <ul>
                    {{#rewardsdata}}
                        <li>
                            <div class="great-item {{class}}">
                                <div class="great-item-img"><img src="{{icon}}" alt=""></div>
                                <div class="great-item-txt">{{text}}</div>
                            </div>
                        </li>
                    {{/rewardsdata}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{{/showrewardsnoti}}
