{{!
    @template theme_boost/nav-drawer


    Example context (json): {}
}}
<div id="nav-drawer" data-region="drawer" class="d-print-none moodle-has-zindex {{^navdraweropen}}closed{{/navdraweropen}}" aria-hidden="{{#navdraweropen}}false{{/navdraweropen}}{{^navdraweropen}}true{{/navdraweropen}}" tabindex="-1">

    <div class="logo_side_container">
        <div data-region="drawer-toggle" class="d-inline-block mr-3">
            <button aria-expanded="{{#navdraweropen}}true{{/navdraweropen}}{{^navdraweropen}}false{{/navdraweropen}}" aria-controls="nav-drawer" type="button" class="btn nav-link float-sm-left mr-1 btn-light bg-gray" data-action="toggle-drawer" data-side="left" data-preference="drawer-open-nav">{{#pix}}i/menubars{{/pix}}<span class="sr-only">{{#str}}sidepanel, core{{/str}}</span></button>
        </div>

        <a href="{{{ config.wwwroot }}}" class="navbar-brand has-logo d-none d-sm-inline ">
            <span class="logo d-none d-sm-inline">
				<img src="{{output.get_logo_url}}" alt="{{sitename}}">
			</span>
        </a>
    </div>

    {{> theme_boost/flat_navigation }}
    <div class="leftusermenu">
        <ul>
            <li class="nav-item">
                {{{ output.navbar_plugin_output }}}
            </li>
            <!-- user_menu -->
            <li class="nav-item d-flex align-items-center">
                {{{ output.user_menu }}}
            </li>
        </ul>
    </div>
</div>
